<div class="page columns splash-page">
    <div class="columns icon-title input-icon">


        @if (!!previewUrl) {
            <img
                id="profile-image"
                [src]="previewUrl"
                (click)="profileImageInput.click()"
            />
        } @else {

            <div>

            </div>
            <svg
                class="svg-icon"
                id="profile-image-placeholder"
                (click)="profileImageInput.click()"
            >
                <use href="#camera-scan-1"></use>
            </svg>
        }

        <input
            #profileImageInput
            type="file"
            accept="image/*"
            capture="environment"
            (change)="onProfileImageSelected($event)"
            style="display: none;"
        />

        @if (!errors.profilePicture) {
            <small id="profilePicture-help">Carica una immagine di profilo</small>
        } @else {
            <small id="profilePicture-error" class="error-message">{{ errors.profilePicture }}</small>
        }

        <div>Sign Up</div>
    </div>


    <form [formGroup]="form" (ngSubmit)="submit()" class="columns">

        <div class="card flex justify-center signup-field">
            <div class="flex flex-col gap-2 field" style="margin-bottom: 0px !important;">
                <label for="fullName">Nome completo</label>
                <input
                    pInputText
                    id="fullName"
                    aria-describedby="username-help"
                    formControlName="fullName"
                    placeholder="utente"
                    class="fixed-value-input"
                />
            </div>
            @if (!errors.fullName) {
                <small id="fullName-help">Il tuo nome completo.</small>
            } @else {
                <small id="fullName-error" class="error-message">{{ errors.fullName }}</small>
            }
        </div>


        <div class="card flex justify-center signup-field">
            <div class="flex flex-col gap-2 field" style="margin-bottom: 0px !important;">
                <label for="email">Email</label>
                <input
                    pInputText
                    id="email"
                    aria-describedby="email-help"
                    formControlName="email"
                    placeholder="user@mail.com"
                    class="fixed-value-input"
                />
            </div>
            @if (!errors.email) {
                <!--                <small id="email-help">La tua email</small>-->
                <a routerLink="/access/sign-in">
                    <div>
                        SignIn
                    </div>
                </a>
            } @else {
                <small id="email-error" class="error-message">{{ errors.email }}</small>
            }

        </div>

        <div class="card flex justify-center">
            <div class="flex flex-col gap-2 field">
                <label for="mobilenumber">Telefono</label>
                <input
                    pInputText
                    id="mobilenumber"
                    aria-describedby="mobilenumber-help"
                    formControlName="mobilenumber"
                    placeholder="+39 123 4567890"
                    class="fixed-value-input"
                />
            </div>
            @if (!errors.mobilenumber) {
                <small class="field-small" id="mobilenumber-help"></small>
            } @else {
                <small class="field-small error-message" id="mobilenumber-error">{{ errors.mobilenumber }}</small>
            }
        </div>

        <div class="card flex justify-center signup-field">
            <div class="flex flex-col gap-2 field" style="margin-bottom: 0rem !important;">
                <label for="password">Password</label>
                <div class="input-icon">
                    <input
                        pInputText
                        id="password"
                        aria-describedby="password-help"
                        formControlName="password"
                        placeholder="abc@DEF_ghi#99985-14"
                        type="{{ !visibility.password ? 'password' : 'text' }}"
                    />
                    <svg class="svg-icon icon-in-input-at-right" (click)="toggleVisibility('password')">
                        @if (!!visibility.password) {
                            <use href="#occhio-aperto"></use>
                        } @else {
                            <use href="#occhio-sbarrato"></use>
                        }
                    </svg>
                </div>
            </div>
            @if (!errors.password) {
                <small id="password-help">La password deve essere lunga almeno 8</small>
            } @else {
                <small id="password-error" class="error-message">{{ errors.password }}</small>
            }
        </div>

        <div class="card flex justify-center">
            <div class="flex flex-col gap-2 field">
                <label for="confirmPassword">Conferma Password</label>
                <div class="input-icon">
                    <input
                        pInputText
                        id="confirmPassword"
                        aria-describedby="password-help"
                        formControlName="confirmPassword"
                        placeholder="abc@DEF_ghi#99985-14"
                        type="{{ !visibility.confirmPassword ? 'password' : 'text' }}"
                    />
                    <svg class="svg-icon icon-in-input-at-right" (click)="toggleVisibility('confirmPassword')">
                        @if (!!visibility.confirmPassword) {
                            <use href="#occhio-aperto"></use>
                        } @else {
                            <use href="#occhio-sbarrato"></use>
                        }
                    </svg>
                </div>

            </div>
            @if (!errors.confirmPassword) {
                <small id="confirmPassword-help"></small>
            } @else {
                <small id="confirmPassword-error" class="error-message">{{ errors.confirmPassword }}</small>
            }
        </div>


        <div class="card flex justify-center">
            <div class="flex flex-col gap-2">
                <div class="bottom-button-container">
                    <div id="signup-button">
                        @if (!!inWaiting()) {
                            <svg class="svg-icon inside-button">
                                <use href="#orologio-1-1"></use>
                            </svg>
                        }
                        <p-button
                            label="{{ !!inWaiting() ? 'in attesa' : 'signup' }}"
                            type="submit"
                            [disabled]="!!inWaiting()"
                            [rounded]="true"
                            [size]="'small'"
                            [style]="{padding: '0px 20px 0px '+ ( !inWaiting() ? '20px' : '32px' )}"
                        ></p-button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <p *ngIf="errorMessage()" style="color: var(--medium-red-color);">{{ errorMessage() }}</p>


</div>
