
<app-svg-sprite></app-svg-sprite>


<div>
    @if ( user(); as user ) {
        <app-header
            [user]="user"
        ></app-header>
    }

    <div>
        @if ( user(); as user ) {
            <div class="device tablet desktop">
                Menu
            </div>
        }
        <div>
            <router-outlet />
        </div>
    </div>

</div>



<section class="base-text-style debug-device" id="mobile">mobile</section>
<section class="base-text-style debug-device" id="tablet">tablet</section>
<section class="base-text-style debug-device" id="desktop">desktop</section>
