/*.field {*/
/*    margin-bottom: 2rem;*/
/*}*/


/*FORM > p-button {*/
/*    margin: 0rem auto;*/
/*    margin-bottom: 2rem;*/
/*}*/

/*A,*/
/*A:visited,*/
/*A:hover,*/
/*A:active {*/
/*    text-decoration: none;*/
/*    color: var(--sky-color);*/
/*    cursor: pointer;*/
/*    text-align: right;*/
/*    padding-right: 0.5rem;*/
/*}*/

/*A > DIV {*/
/*    color: var(--sky-color);*/
/*}*/

/*.error-message {*/
/*    color: var(--medium-red-color) !important;*/
/*    font-weight: 500;*/
/*}*/


.field {
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
    /*margin-left: calc(10%);*/
    margin-bottom: 2rem !important;
    width: 80%;
}

.field > INPUT,
.field > DIV
{
    width: 100%;
}


.field > A {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
}

.inside-button {
    top: 33px;
}

/*.bottom-field {*/
/*    width: 80%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-self: flex-end;*/
/*    justify-content: flex-end;*/
/*    margin-left: 10%;*/
/*    margin-top: -2rem;*/
/*}*/
