<div class="page columns splash-page">
    <div class="columns icon-title">
        <svg class="svg-icon">
            <use href="#user_filled-ok"></use>
            <!--            <use href="#timer-1"></use>-->
            <!--            <use href="#orologio-1-1"></use>-->
        </svg>

        <div>Sign In</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="columns">

        <div class="card flex justify-center">
            <div class="flex flex-col gap-2 field">
                <label for="email">Email</label>
                <input
                    pInputText
                    id="email"
                    aria-describedby="username-help"
                    formControlName="email"
                    placeholder="user@mail.com"
                    class="fixed-value-input"
                />
            </div>
            @if (!errors.email) {
                <!--                    <small id="email-help"></small>-->
                <a class="bottom-field" routerLink="/access/sign-up">
                    <div>
                        SignUp
                    </div>
                </a>
            } @else {
                <small id="email-error" class="bottom-field error-message">{{ errors.email }}</small>
            }

        </div>

        <div class="card flex justify-center">
            <div class="flex flex-col gap-2 field">
                <label for="password">Password</label>
                <div class="input-icon">
                    <input
                        pInputText
                        id="password"
                        aria-describedby="password-help"
                        formControlName="password"
                        placeholder="abc@DEF_ghi#99985-14"
                        type="{{ !visibility.password ? 'password' : 'text' }}"
                        class="fixed-value-input"
                    />
                    <svg class="svg-icon icon-in-input-at-right" (click)="toggleVisibility('password')">
                        @if (!!visibility.password) {
                            <use href="#occhio-aperto"></use>
                        } @else {
                            <use href="#occhio-sbarrato"></use>
                        }
                    </svg>
                </div>
            </div>
            @if (!errors.password) {
                <small id="password-help" class="bottom-field">
                    <!--
                    <a routerLink="/access/forgot-password">
                        <div>
                            Password dimenticata
                        </div>
                    </a>
                    -->
                </small>
            } @else {
                <small id="password-error" class="error-message bottom-field">{{ errors.password }}</small>
            }
        </div>

        <div class="card flex justify-center">
            <div class="flex flex-col gap-2">
                <div class="bottom-button-container">
                    <div id="signup-button">
                        @if (!!inWaiting()) {
                            <svg class="svg-icon inside-button" style="top: 33px;">
                                <use href="#orologio-1-1"></use>
                            </svg>
                        }
                        <p-button
                            label="{{ !!inWaiting() ? 'in attesa' : 'signin' }}"
                            type="submit"
                            [disabled]="!!inWaiting()"
                            [rounded]="true"
                            [size]="'small'"
                            [style]="{padding: '0px 20px 0px '+ ( !inWaiting() ? '20px' : '32px' ), marginTop: '2rem'}"
                        ></p-button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <p *ngIf="errorMessage()" class="error-message">{{ errorMessage() }}</p>


</div>

