

/* visibile per tutto */
[data-theme='light'] {

    /*  Header  */

    /* Colori */
    --color-background-1: rgb(244, 244, 244);
    --color-background-2: rgb(220, 220, 220); /* da cambiare */
    --color-background-3: rgb(230, 230, 230); /* da cambiare */

    --color-ambient-1: rgb(50, 50, 50);
    --color-ambient-2: rgb(82, 82, 82);

    --color-text-1: rgb(99, 99, 99);
    --color-text-2: rgb(64, 64, 64);
    --color-text-0: rgb(120, 120, 120);

    --color-evident-1: #080;  /* todo */
    --color-evident-2: #0aff97;  /* todo */


    --light-color: #fff;  /* todo */
    --dark-color: #000;  /* todo */
    --theme-color: #fff;  /* todo */


    --different-blur-for-theme: 2px;  /* todo */

    --big-opacity-theme-color: #fffc;
    --middle-opacity-theme-color: #fff7;
    --small-opacity-theme-color: #fff1;
    --middle-opacity-inverse-theme-color: #0002;
    --small-black-color: #0003;


}
